@using Microsoft.AspNetCore.Http;
@using Senai.Projeto.Carfel.CheckPoint.MVC.Models;
@using System.Collections.Generic;

@{
    if(Context.Session.GetString("idUsuario") == null){
        Layout = "MasterPageDeslogado";
    }
    else{
        Layout = "MasterPageLogado";
    }
}

@{
	List<ComentarioModel> Comentarios = (List<ComentarioModel>)@ViewData["Comentarios"];
}

<head>
    <link href="/css/Comentarios.css" rel="stylesheet" >
</head>
<body>
	<div class="comments-container">
		<div class="divisao">
            <img src="/Arquivo_img/Home_imagens/quebra-logo-checkpoint.png" alt="Logo do serviço checkpoint oferecido pela empresa Carfel" />
            <h1 id="Comentarios">Comentarios</h1>
			@TempData["Mensagem"]
            <div class="retangulo-divisao"></div>
        </div>
		
		@{
			<ul id="comments-list" class="comments-list">
				<li>
					
					
						<div class='comment-main-level'>
							<div class="comment-avatar"><img src="https://banner2.kisspng.com/20180625/req/kisspng-computer-icons-avatar-business-computer-software-user-avatar-5b3097fcae25c3.3909949015299112927133.jpg" alt="" /></div>
							<form action = "/Comentarios" method="Post" class="comment-box">
								<div class="comment-head">
									<h6 class="comment-name by-author"><a>@Context.Session.GetString("nomeUsuario")</a></h6>
									<span>Data  Comentário</span>
									<i class="fa fa-times"></i>
									<i class="fa fa-heart"></i>
								</div>
								<textarea name="texto" class="comment-textarea"></textarea>
								<button type="submit">Enviar</button>
							</form>
						</div>
					 
					@if(Comentarios.Count == 0 || Comentarios.Count != 0) 
					{
						foreach(ComentarioModel item in ViewData["Comentarios"] as List<ComentarioModel>)
						{
							<div class="comment-main-level">
								<!-- Avatar -->
								<div class="comment-avatar"><img src="https://banner2.kisspng.com/20180625/req/kisspng-computer-icons-avatar-business-computer-software-user-avatar-5b3097fcae25c3.3909949015299112927133.jpg" alt=""></div>
								<div class="comment-box">
									<div class="comment-head">
										<h6 class="comment-name by-author"><a>@item.nomeUsuario</a></h6>
										<span>@item.DataCriacao</span>
										<i class="fa fa-times"></i>
										<i class="fa fa-heart"></i>
									</div>
									<div class="comment-content">
									@item.Texto
									</div>
								</div>
							</div>
							<br>		
						}
					}
				</li>
			</ul>	
		}
	</div>
</body>