@using Microsoft.AspNetCore.Http;
@using Senai.Projeto.Carfel.CheckPoint.MVC.Models;

@{
    if(Context.Session.GetString("idUsuario") == null){
        Layout = "MasterPageDeslogado";
        }
    else{
        Layout = "MasterPageLogado";
    }
    
}
<head>
    <link href="/css/Comentarios.css" rel="stylesheet" >
</head>
<body>
<!-- Contenedor Principal -->
	<div class="comments-container">
		<div class="divisao">
            <img src="/Arquivo_img/Home_imagens/quebra-logo-checkpoint.png" alt="Logo do serviço checkpoint oferecido pela empresa Carfel">
            <h1 id="Comentarios">Comentarios</h1>
			@TempData["Mensagem"]
            <div class="retangulo-divisao"></div>
        </div>

		<ul id="comments-list" class="comments-list">
			<li>
				<div class="comment-main-level">
					<!-- Avatar -->
					<div class="comment-avatar"><img src="https://png2.kisspng.com/sh/a842adb43f8dd35c071d93865c0c99d1/L0KzQYm3VsI2N6F8iJH0aYP2gLBuTfNwdaF6jNd7LXnmf7B6TfF3aaVmip9rdYPsfrb6k71kd551jeZucj32f7f7lBFzbV56i9d7LXH5ccXokr02amQ1UalvY3TpRrW7Ub42OWc4T6o7NEG4QoqCUcEzQWMASac7LoDxd1==/kisspng-computer-icons-avatar-business-computer-software-user-avatar-5b3097fcdf6d41.5163782415299112929152.png" alt=""></div>
					<!-- Contenedor del Comentario -->
					<form action = "/Comentarios" method="Post" class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author"><a>@Context.Session.GetString("nomeUsuario")</a></h6>
							<span>Data do Comentário</span>
							<i class="fa fa-times"></i>
							<i class="fa fa-heart"></i>
						</div>
						<textarea name="texto" class="comment-textarea"></textarea>
						<button type="submit">Enviar</button>
					</form>
					
					@foreach(ComentarioModel comentario in ViewData["Comentarios"] as List<ComentarioModel>){
						<div class="comment-main-level">
							<!-- Avatar -->
							<div class="comment-avatar"><img src="https://png2.kisspng.com/sh/a842adb43f8dd35c071d93865c0c99d1/L0KzQYm3VsI2N6F8iJH0aYP2gLBuTfNwdaF6jNd7LXnmf7B6TfF3aaVmip9rdYPsfrb6k71kd551jeZucj32f7f7lBFzbV56i9d7LXH5ccXokr02amQ1UalvY3TpRrW7Ub42OWc4T6o7NEG4QoqCUcEzQWMASac7LoDxd1==/kisspng-computer-icons-avatar-business-computer-software-user-avatar-5b3097fcdf6d41.5163782415299112929152.png" alt=""></div>
							<!-- Contenedor del Comentario -->
							<div class="comment-box">
								<div class="comment-head">
									<h6 class="comment-name by-author"><a>@comentario.nomeUsuario</a></h6>
									<span>@comentario.DataCriacao</span>
									<i class="fa fa-times"></i>
									<i class="fa fa-heart"></i>
								</div>
								<div class="comment-content">
								@comentario.Texto
								</div>
							</div>
						</div>
						<br>
					}
				</div>
		</ul>
	</div>
</body>